.aboutMain {
  display: flex;
  flex-direction: column;
  background-color: var(--color-warm-white);
  align-items: center;
  padding: 100px 5vw;
}

.aboutText {
  width: 100%;
  max-width: 900px;
  font-size: 1.65rem;
  font-family: 'Playfair Display', serif;
  color: var(--color-warm-gray);
  text-align: center;
  line-height: 1.6;
}

.aboutHighlight {
  color: var(--color-terracotta);
  font-weight: 700;
}

.aboutLine {
  padding: 40px 0px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.diamond {
  width: 12px;
  height: 12px;
  background: var(--color-warm-gold);
  transform: rotate(45deg);
  display: inline-block;
}

.diamondLine {
  width: 60px;
  height: 2px;
  background: var(--color-warm-gold);
  display: inline-block;
  margin: 0 16px;
}

@media screen and (max-width: 50rem) {
  .aboutText {
    font-size: 1.25rem;
  }
}
